body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    height: 100vh;
}

div {
    border: 1px solid black;
}

.sqaure {
    aspect-ratio: 1;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70vw;
    height: 80vh;
    justify-content: space-evenly;
}

.calc-top, .calc-bottom {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}

.calc-top {
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

.calc-bottom {
    height: 70%;
}

.calc-display, .clear-btn {
    height: 70%;
}

.clear-btn, #clear {
    aspect-ratio: 1;
}

.calc-display {
    width: 50%;
}

#calc-display {
    border: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#clear {
    height: 100%;
}

.num-pad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 4;
    gap: 20px;
    padding: 20px;
    width: 60%;
}

.number-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    height: 20%;
    align-items: center;
}

.number {
    height: 100%;
    aspect-ratio: 1;
}

.number-button {
    height: 100%;
    aspect-ratio: 1;
}

.operators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
    padding: 20px;
    width: 8%;
}

.operator {
    height: calc(100% / 7);
    aspect-ratio: 1;
    text-align: center;
}

.operator-button {
    aspect-ratio: 1;
    height: 100%;
}